@model Login

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/login.css"/>
    <title>RedTag90</title>
</head>
<body>    
    <h1 class="login_welcome">Welcome Back</h1>
    <div class="login">
        <form asp-controller="LoginReg" asp-action="Login" method="post">
            <p>Email: </p>
            <input class="login_input" type="email" asp-for="loginEmail">
            <br>
            <span asp-validation-for="loginEmail" style="color: red;">@ViewBag.Error</span>
            <br>
            <p>Password: </p>
            <input class="login_input" type="password" asp-for="loginPassword">
            <br>
            <span asp-validation-for="loginPassword" style="color: red;">@ViewBag.Error</span>
            <br>
            <input type="submit" value="Login">
        </form>
        <br>
        <p>Don't have an account? <a href="register">Register here</a></p>
    </div>
</body>
</html>