<!DOCTYPE html>
<html lang="en">
<head>
    @model User
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RedTag90</title>
</head>
<body>
    <h3>Hello, @Model.first_name @Model.last_name </h3>
    <p>First Name</p>
    <p>Last Name</p>
    <p>Email</p>
    <p></p>
</body>
</html>